html {
  height: 100%;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display:flex; 
  flex-direction:column;
  margin:0; 
  padding:0; 
  width:100%; 
  height:100%; 
  overflow:hidden;
}

section {
  flex: 1; 
  display: flex; 
  flex-direction: row;
  overflow: scroll; 
  scrollbar-width: none;
}

article {
  flex: 0 0 400px; 
  position: relative;
  background-color: white; 
  margin: 8px; 
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.2);
}

.paper {
  padding: 8px; 
  overflow-y: auto; 
  overflow-x: hidden;
  top: 0; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  position: absolute;
}

footer {
  background-color:#ccc; 
  padding:10px;
  flex-basis:20px;
}